/*-----------*\
*
* BASE STYLES 
*
\*-----------*/

* {
  box-sizing: border-box;
}


body {
  background-color: #000000;
  color: #ffffff;
  font-size: 2vh;
  font-family: 'Migrator', serif;
}





/*----------*\
*
*   LAYOUT
*
\*----------*/

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "header header"
    "left right";
}


/* Grid areas */

header {grid-area: header;}
.left {grid-area: left;}
.right {grid-area: right;}


header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  width: 50vw;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}


.right {
  justify-content: flex-start;
}





/*----------*\
*
* TYPOGRAPHY
*
\*----------*/
h1 {
  font-family: 'Prida02Calt', cursive, serif;
  font-size: 13vh;
  line-height: 1.5;
  letter-spacing: .3rem;
  margin-right: 2vw;
  margin-top: 7vh;
  font-weight: 800;
}


nav li {
  font-family: 'Migrator', serif;
  font-size: 2.5vh;
  letter-spacing: .123rem;
  line-height: 3rem;
  height: 3rem;
}



/*--------*\
*
*  IMAGES
*
\*--------*/

img {
  height: 80vh;
  margin-left: 10vw;
}





/*------------*\
*
*  COMPONENTS
*
\*------------*\

/*==== 1. MAVIGATION ====*/

nav {
  margin-right: 2vh;
}


nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  width: 8vw;
  position: relative;
}

.with-hover {
  font-family: 'Migrator', serif;
  display: block;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.with-hover::after {
  content: '';
  width: 0%;
  height: 7px;
  background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}


.with-hover:hover::after {
  left: 0%;
  width: 100%;
}



/* Dropdown menu */

li ul {
  display: none;
  position: absolute;
  max-width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 10px 10px;
}

li:hover ul {
  display: block;
}


li ul li {
  width: 100%;
  padding: .5rem;
}


li ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Migrator', serif;
  line-height: 1.2;
  font-size: 2vh;
  padding: .3rem;
}

li ul li a:hover {
  transform: scale(1.1);
}


/*==== 2. SIGN UP BUTTON ====*/

.sign-up {
  display: inline-block;
  font-family: 'Migrator', serif;
  font-size: 2.5vh;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  margin-top: .3rem;
  margin-left: 1vw;
  height: 3rem;
  padding: 8px 14px; 
}

