/*-----------*\
*
* BASE STYLES 
*
\*-----------*/

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Migrator';
  src: url('assets/fonts/MigratorRegular-2wGd.ttf');
}

@font-face {
  font-family: 'Prida02Calt';
  src: url('assets/fonts/Prida02calt-j3zO.otf');
}



body {
  background-color: #000000;
  color: #ffffff;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif;
}


section {
  padding: 1rem;
  margin-bottom: 5vh;
}


@media (min-width: 1200px) {
  section {
    border-left: 3px solid #F6B1C3;
    border-right: 3px solid #F6B1C3;
  }
}



article {
  width: 100%;
  margin-bottom: 10vh;
}





/*----------*\
*
*   LAYOUT
*
\*----------*/

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "header header"
    "left right"
    "main main"
    "footer footer";
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (5, 1fr);
    grid-template-areas: 
      "header"
      "right"
      "left"
      "main"
      "footer";
  }
}



/* Grid areas */

header {grid-area: header;}
.left {grid-area: left;}
.right {grid-area: right;}
main {grid-area: main;}
footer {grid-area: footer;}



header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin: .5rem .5rem 0 ;
  }
}



.left, .right {
  display: flex;
  width: 50vw;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}


.right {
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .left, .right {
    flex-flow: row;
    width: 100%;
    padding: 1rem;
  }
}



main {
  width: 100vw;
}


@media (min-width: 1024px) {
  main {
    width: 80vw;
    margin: 0 auto;
  }
}


@media (min-width: 1200px) {
  main {
    width: 60vw;
  }
}


@media (min-width: 1024px) {
  .about-us, .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
  }
  
  .col {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
  }
  
  .contact-us {
    justify-content: space-around;
  }
}



.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/*----------*\
*
* TYPOGRAPHY
*
\*----------*/

h1 {
  font-family: 'Prida02Calt', cursive, serif;
  font-size: 13vh;
  line-height: 1.5;
  letter-spacing: .3rem;
  margin-right: 2vw;
  margin-top: 9vh;
  font-weight: 800;
}


@media (max-width: 1024px) {
  h1 {
    font-size: 6vh;
    text-align: center;
    margin-top: 4rem;
  }
}



h2 {
  font-family: 'Prida02Calt', cursive, serif;
  font-size: 10vh;
  text-align: center;
  line-height: 1.1;
  letter-spacing: .3rem;
  margin-top: 5vh;
}


h3 {
  font-family: 'Migrator', serif;
  font-size: 3.5vh;
  letter-spacing: .15rem;
  margin-bottom: 1rem;
}


@media (min-width: 1024px) {
  .follow-us {
    text-align: center;
  }
}



p {
  font-size: 2.3vh;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: justify;
}


@media (max-width: 360px) {
  p {
    font-size: 3vh;
  }
}

.contact-info {
  text-align: center;
  font-style: italic;
  letter-spacing: .15rem;
}



nav li {
  font-family: 'Migrator', serif;
  font-size: 2.5vh;
  letter-spacing: .123rem;
  line-height: 3rem;
  height: 3rem;
}



.about {
  color: #ffffff;
  display: block;
  text-align: left;
  font-size: 5vh;
  margin-bottom: .5rem;
}


.contact {
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 10vh;
}


footer p {
  margin-bottom: 0;
}

small {
  font-size: 1.5vh;
  line-height: 1.1;
  letter-spacing: .15rem;
  text-align: center;
  padding: .5rem;
}

/*--------*\
*
*  IMAGES
*
\*--------*/

img {
  height: 80vh;
  margin-left: 10vw;
}

@media (max-width: 1024px) {
  img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
  }
}



/*------------*\
*
*  COMPONENTS
*
\*------------*\

/*==== 1. MAVIGATION ====*/

nav {
  margin-right: 2vw;
}


nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  width: 8vw;
  position: relative;
}


@media (max-width: 1024px) {
  nav li {
    display: block;
    width: 100%;
    margin-top: 1vh;
  }
}



.with-hover {
  font-family: 'Migrator', serif;
  display: block;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.with-hover::after {
  content: '';
  width: 0%;
  height: 7px;
  background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  bottom: -5%;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}


.with-hover:hover::after {
  left: 0%;
  width: 100%;
}



/* Dropdown menu */

li ul {
  display: none;
  position: absolute;
  max-width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 1024px) {
  li ul {
    max-height: 120vh;
    max-width: 150%;
    white-space: nowrap;
  }
  
  li ul:last-child {
    padding-bottom: .5rem;
  }
}

li:hover ul {
  display: block;
}

@media (max-width: 1024px) {
  li:hover ul {
    position: absolute;
    top: 0;
    left: 110%;
  }
}

li ul li {
  width: 100%;
  padding: .5rem;
}


li ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Migrator', serif;
  line-height: 1.2;
  font-size: 2vh;
  padding: .3rem;
}

li ul li a:hover {
  transform: scale(1.1);
}





/*==== 2. SIGN UP BUTTON ====*/

.sign-up {
  display: inline-block;
  font-family: 'Migrator', serif;
  font-size: 2.5vh;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  margin-top: .5rem;
  margin-left: 1vw;
  height: 5vh;
  line-height: 2.5vh;
  padding: 8px 14px; 
}


@media (max-width: 1024px) {
  .sign-up {
    margin-right: 2rem;
  }
}





/*==== 3. READ MORE BUTTON ====*/

.more {
  display: inline-block;
  font-size: 1.7vh;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #F6B1C3;
  border-radius: 20px;
  padding: .8rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


.more:hover {
  background-color: #F6B1C3;
  transition: .7s ease-in-out;
}


/*==== 4. SOCIAL LINKS ====*/

.social {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: #ffffff;
  font-size: 5vh; 
}

.social:hover {
  color: #F6B1C3;
}



.design {
  text-decoration: none;
  color: #F6B1C3;
  font-weight: 700;
}





/*==== 5. SCROLLBAR ====*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
  opacity: 10%;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6B1C3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}